*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* navbar */
nav{
    background-color: transparent;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: .5em;
    padding: .75em;
    border-radius: .6em;
}
ul{
    display:none;
}
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content a{
    display: block;
    color: black;
    padding: 0.75em;
}
.dropdown-content{
    display:none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
  right: 0;
 min-width: 160px;
}
.dropdown-content a:hover{
    background-color: green;
    color: white;
}
.dropbtn, .closebtn{
    padding:.5em 0.75em;
    border-radius: .5em;
    border: 1px solid transparent;
    outline:none;
    display: block;
    cursor: pointer;
}
/* hero-section */
.hero-section, .about-us{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}
.hero-img, .hero-text{
    background-color: burlywood;
    width:100%;
    height:300px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.hero-text{
    background-color: brown;
}
.closebtn{
display: none;
}
/* top */
.top{
    background-color: darkgoldenrod;
    width:100%;
    padding:1em;
    height: auto;
}
/* about us */

/* services-section */
.services-section{
    background-color: darkorange;
    width: 100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.card{
    background-color: white;
    max-width:50%;
    height:auto;
    margin: 1em;
    padding: 5px;
    text-align:center;
    border-radius:1em;
}
/* contact us section */
.contact-us{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    background-color: cornflowerblue;
    color: white;
}
/* desktop view */
@media  only screen and (min-width:680px){
ul{
    display:flex;
    flex-direction: row;
    gap: .75em;
}
.dropbtn{
    display:none;
}
.hero-section, .about-us{
    flex-direction: row;
    justify-content: space-between;
}
.hero-img{
    width:50%;
}
.hero-text{
    width:50%
}
.services-section{
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.card{
    width:30%;
}
}